@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Title"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<feature name="NewFeature">
    <div style="background-color: silver; border: dotted 1px #000000">
        <h3>New Feature using Toggles and Azure App Configuration</h3>
    </div>
</feature>
